"\t": menu-complete
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[1;5C": forward-word
"\e[1;5D": backward-word
$if clink [
	set visible-stats on
	set colored-completion-prefix on
	set colored-stats on
	set history-point-at-end-of-anchored-search on
	C-r: "luafunc:fzf_history"
	TAB: "luafunc:fzf_complete"
] $endif
