# History searching
"\e[A": history-search-backward
"\e[B": history-search-forward

# Suffix each returned file completion with a character denoting its type
set visible-stats on

# Display common prefix of set of possible completions using a different color
set colored-completion-prefix on

# Display possible completions using different colors to indicate their file type
set colored-stats on

$if bash
  # Enable completion menu
  "\t": menu-complete

  # Perform file completion in a case insensitive fashion
  set completion-ignore-case on

  # Treat hyphens and underscores as equivalent
  set completion-map-case on

  # Immediately add a trailing slash when autocompleting symlinks to directories
  set mark-symlinked-directories on
$endif

$if clink
  # Enable completion menu
  "\t": clink-select-complete

  # Enable fzf keybindings
  C-r: "luafunc:fzf_history"
  C-t: "luafunc:fzf_file"
  M-c: "luafunc:fzf_directory"

  # Puts the cursor at the end of the line when using 'history-search-forward' or 'history-search-backward'
  set history-point-at-end-of-anchored-search on
$endif
